[project]
name = "lsp-ruff"
version = "1.0"
dependencies = [
    "ruff==0.15.2",
]

[tool.ruff]
line-length = 120
target-version = "py38"

[tool.ruff.lint]
ignore = []
select = [
    "E",
    "F",
    "W",
]

[tool.pyright]
pythonVersion = "3.8"
